p {
  margin: 0;
}

.App {
  display: flex;
  width: 100%;
}

.sidebar {
  text-align: center;
  width: 16%;
  min-height: calc(100vh - 64px);
  padding: 32px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.drag-item {
  padding: 16px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 8px;
  background-color: white;
}

.drop-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 84%;
}

.edit-box {
  min-height: 200px;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 16px;
  padding-bottom: 16px;
}

.drop-box {
  min-height: calc(100vh - 232px);
  width: 100%;
  /* padding-top: 32px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}