
.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sidebar {
  text-align: center;
  width: 200px;
  height: calc(100vh - 124px);
  padding: 32px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.drag-item {
  padding: 16px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 8px;
  background-color: white;
}

.drop-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  flex-grow: 1;
}

.edit-box {
  min-height: 200px;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 16px;
  padding-bottom: 16px;
}

.drop-box {
  height: calc(100vh - 292px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

p {
  margin: 0;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.drop-area .info {
  position: absolute;
  bottom: 240px;
  left: 8px;
}